# -----------------------------
# Unfinished README assets
# -----------------------------

assets/*

# -----------------------------
# Dummy Data and cache
# -----------------------------

*.csv
*.pyc
*.xlsx

# -----------------------------
# Notebook for function testing
# -----------------------------

backend_nb.ipynb
